<p id="notice"><%= notice %></p>

<p>
  <b>Rating:</b>
  <%= @answer.rating %>
</p>

<p>
  <b>Photo:</b>
  <%= @answer.photo_id %>
</p>

<p>
  <b>Question:</b>
  <%= @answer.question_id %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
