<h1>Listing photos</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
<td><%= Person.find(photo.person_id).name %> </td>
    <td><%= image_tag photo.avatar_url(:thumb) if photo && photo.avatar? %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
